<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5 " [ngClass]="error ?'border border-danger': ''" >
        <div class="card-body" *ngIf="!resetPassword">
          <h5 class="card-title text-center">Bonjour !</h5>
          <form [formGroup]="emailForm">
            <div class="row w-100 mb-5 m-auto">
              <mat-form-field class="w-100 mt-3 m-auto">
                <input matInput placeholder="email" formControlName="email">
                <mat-hint>Un code de validation sera envoyer a votre adress mail pour réinrtialiser le mot de pass</mat-hint>
                <mat-error *ngIf="email.invalid && email.touched">
                  adresse mail invalide
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row mt-5 m-auto justify-content-center">
              <button mat-raised-button class="mt-5"  color="primary" [disabled]="emailForm.invalid" (click)="onResetPassword()">envoyer le code</button>
            </div>
          </form>

          <h4 class="card-title text-center">
            <a routerLink="/register" class="mat-tab-link">créer un compte ?</a><br>
          </h4>
          <h4 class="card-title text-center">
          </h4>

        </div>
        <div class="card-body" *ngIf="resetPassword">
          <h5 class="card-title text-center">Bonjour !</h5>
          <form [formGroup]="resetPasswordForm">
            <div class="row w-100 m-auto">
              <mat-form-field class="w-100 mt-3 m-auto">
                <input matInput placeholder="code de validation" formControlName="validationCode">
                <mat-error *ngIf="validationCode.invalid && validationCode.touched">
                  entrer le code de validation
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row w-100 mt-3">
              <mat-form-field class="mr-3">
                <input type="password" matInput placeholder="password" formControlName="password">
                <mat-hint>le mot de pass doit avoire entre 8 et 10 caractére.</mat-hint>
                <mat-error *ngIf="password.invalid && password.touched">
                  mot de pass invalid
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="password" matInput placeholder="confirmer le password" formControlName="rePassword">
                <mat-error *ngIf="rePassword.invalid">Confirm Password is required</mat-error>
                <mat-error *ngIf="rePassword.value != password.value">
                  les mots de pass ne se coresponds pas
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row mt-3 m-auto justify-content-center">
              <button mat-raised-button  color="primary" [disabled]="emailForm.invalid" (click)="onResetPassword()">renitialiser le mot de pass</button>
            </div>
          </form>
          <h4 class="card-title text-center">
            <a routerLink="/register" mat-tab-link class="mat-tab-link">créer un compte ?</a><br>
          </h4>
          <h4 class="card-title text-center">
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
